<div class="_about">
	<article class="_article_left">
		<h2>Företaget</h2>
		<p>
			Vi brinner för en bra bilaffär och att du som kund ska känna dig nöjd med ditt köp.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
			Eligendi aliquid quasi voluptatum fugiat reiciendis, distinctio maiores autem, 
			deserunt nesciunt ex ut veniam consectetur, nihil esse. 
			Voluptates fugit nostrum non obcaecati?Adipisci, porro ea! 
			Itaque quasi nam placeat odio minus, quia ut soluta cumque cum veniam et optio 
			voluptatem deserunt nobis quae delectus unde, tempore ratione 
			obcaecati nihil possimus est? Totam!
		</p>
	</article>
	<article class="_article_right">
		<h2>Vi som jobbar här.</h2>
		<ul>
			<li>VD: Lars Larsson</li>
			<li>Säljare: Yngve Stilben</li>
			<li>Säljare: Roger Smilfink</li>
		</ul>
	</article>
</div>
