._about {
	width: 80%;
	position: relative;
	padding-left: 15px;
}

._backdrop {
	position: absolute;
	min-width: 60vh;
	min-height: 60vh;
	transform-origin: 0 0;
	left: 50%;
	background: rgba(85, 85, 170, 0.5);
	z-index: -100;
	transform: rotate(45deg);
	overflow: hidden;
}

._article_left {
	float: left;
	line-height: 1.5;
	max-width: 500px;
}

._article_right {
	clear: both;
	float: right;
	max-width: 300px;
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		padding-bottom: 10px;
	}
	li {
		padding: 5px 0;
	}
}
