<div class="outer-container">
<header>
 <div class="container">
     <a href="#" class="company" routerLink="/">CarDealer</a>
     <nav>
         <ul>
             <li><a href="#" routerLink="/">HEM</a></li>
             <li><a href="#" routerLink="/cars">BILAR</a></li>
             <li><a href="#" routerLink="/about">OM</a></li>
						 <li><a href="#" routerLink="/editor">EDIT</a></li>
         </ul>
     </nav>
 </div>
</header>
<div class="main-container">
	<ng-http-loader></ng-http-loader>
	<router-outlet></router-outlet>
</div>
<footer>
	<div class="_footer-contact"><p>Address: Algatan 7, Nyhamn</p><p>Tel: 092-101424</p><p>Copyright 2020 &copy;</p></div>
</footer>
</div>
