<header>
    <div class="container">
        <a href="#" class="company" routerLink="/">CarDealer</a>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/cars">Cars</a></li>
                <li><a href="#" routerLink="/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="main-container">
	<div class="lo-overlay" *ngIF="showOverlay">
		<fa-icon [icon]="faSpinner"></fa-icon>
	</div>
	<router-outlet></router-outlet>
</div>
