$primary: #5555aa;

* {
	overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
		flex-direction: row;
}

.main-container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;

    a {
        color: #fff;
        text-decoration: none;
    }

    a.company {
        font-size: 2em;
        font-weight: bold;
        text-shadow: 3px 3px 4px #000;
    }

    nav {
        ul {
					padding: 0;
            list-style-type: none;
            li {
                display: inline;
            }
            li a {
                padding: 10px;
                &:hover {
                    background: lighten($primary, 10%);
                }
							}
						@media screen and (max-width: 600px) {
							li {
								display: block;
								width: 100%;
								margin: 20px 0;
								text-align: center;
								padding: 10px 0;
								}
						}
        }
    }
}
@media screen and (max-width: 600px) {
	.container {
		flex-direction: column;
	}
}

.lo-overlay {
	left: 0;
	top: 0;
	z-index: 5000;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.8);
	cursor: pointer;
	visibility: visible;
	transition: visibility 0s, opacity 0.4s linear;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: wait;
	font-size: 100px;
}
